@import 'variables';

.circle-slider {
  display: flex;
  padding: 0 1rem;
  gap: 0.5rem;
  align-items: center;
  height: 80px;
  width: 100%;
  transition: all 0.5s;
  overflow: auto;
  scroll-behavior: smooth;

  // Hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  &__image {
    border-radius: 50%;
    object-fit: cover;
  }

  &__item {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 50%;
    height: 60px;
    width: 60px;

    &--active {
      box-shadow: 0 0 0 2px $secondary;
      border-radius: 50%;
      transform: scale(1.25);
      margin: 0 0.5rem;
      transition: all 0.5s;
    }
  }
}
