@import 'variables';
@import 'mixins';

:root {
  --primary: $primary;
  --secondary: $secondary;
  --background: $background;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: lightgray;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  background: white;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;

  // use stack
  @include stack();
}

a {
  color: inherit;
  text-decoration: none;
}


